<%= javascript_include_tag "concerto_simple_rss/application.js" %>
<fieldset>
  <legend><span>RSS</span></legend>
  <%= form.fields_for :config do |config| %>
    <div class="clearfix">
      <%= config.label :url %>
      <div class="input">
        <%= config.url_field :url, :placeholder => 'http://feeds.bbci.co.uk/news/rss.xml', :class => "input-xxlarge", :value => @content.config['url'] %>
        <div><small>You can verify an RSS feed at <a href="http://validator.w3.org/feed/" target="_blank">http://validator.w3.org/feed/</a></small></div>
      </div>
    </div>
    <div class="clearfix">
      <%= config.label :output_format, 'Display Format' %>
      <div class="input">
        <%= config.select :output_format, [["Headlines", "headlines"], ["Articles", "detailed"], ["XSLT", "xslt"]], :selected => @content.config['output_format'] %>
      </div>
    </div>
    <div class="clearfix">
      <%= config.label :reverse_order, 'Reverse order of items?' %>
      <div class="input">
        <%= config.select :reverse_order, [["No", 0], ["Yes", 1]] %>
      </div>
    </div>
    <div class="clearfix" id="simple_rss_maxitems">
      <%= config.label :max_items, 'Maximum items from feed' %>
      <div class="input">
        <%= config.number_field :max_items, :min => 0, :step => 1, :value => @content.config['max_items'] %>
      </div>
    </div>
    <div class="clearfix" id="simple_rss_xslmarkup">
      <%= label_tooltip "simple_rss", :config_xsl, "XSL Markup", :tip => "The XSL Markup field is only used when the Display Format is set to XSLT." %>
      <div class="input">
        <%= config.text_area :xsl, :class => "span12", :rows =>4, :value => @content.config['xsl'] %>
      </div>
    </div>
  <% end %>
</fieldset>
