<dl>
  <dt>URL</dt>
  <dd><%= content.config['url'] %></dd>
  <dt>Format</dt>
  <dd><%= content.config['output_format'].titleize %></dd>
  <dt>Last Successful Update</dt>
  <dd><%= content.config.include?('last_ok_refresh') ? Time.at(content.config['last_ok_refresh']).strftime('%c') : 'Never' %></dd>
  <dt>Last Attempted Update</dt>
  <dd><%= content.config.include?('last_refresh_attempt') ? distance_of_time_in_words_to_now(Time.at(content.config['last_refresh_attempt'])).titleize : 'Never' %> Ago</dd>
  <dt>Current Live Children</dt>
  <dd><%= content.children.active.count %></dd>
  <dt>Min. Refresh Interval</dt>
  <dd><%= distance_of_time_in_words(content.config['interval'].to_i) %></dd>
</dl>

<% if can?(:edit, content) %>
  <h2>Owner Tools</h2>
  <div>
    <%= link_to "Force Update", act_content_path(:action_name => 'manual_refresh'), :method => :put, :class => "btn info" %>
    <%= link_to "Purge Children", act_content_path(:action_name => 'delete_children'), :method => :put, :class => "btn info" %>
  </div>
<% end %>
